.about {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.about-wrp {
    width: 650px;
    float: left;
    color: #4a5261;
}

.about-title {
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
}

.about-wrp p {
    font-size: 16px;
    line-height: 1.5;
}

.video-about {
    width: 430px;
    height: 245px;
    float: right;
    background-color: #4a5261;
}
