.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #4a5261;
}

.main-header-wrp {
    width: 550px;
    float: left;
    color: #fff;
}

.main-header-title {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 59px;
    line-height: 59px;
    text-align: left;
    margin-bottom: 30px;
}

.main-header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.main-header-list li {
    font-size: 20px;
    line-height: 1.8;
    padding: 0 0 0 30px;
    position: relative;
}

.main-header-list li::before {
    content: "";
    display: block;
    width: 25px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 0;
    background-image: url(../img/check-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.main-header-photo {
    float: right;
    width: 470px;
    height: 215px;
}
