.main-header
    width: 100%
    min-height: 1024px
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/header.jpg") no-repeat center top
    background-size: cover

    .header-contain
        display: flex
        justify-content: center

        .header-menu
            width: 100%
            margin-top: 40px
            font-size: 34px
            letter-spacing: -1.36px

            .header-logo
                display: flex
                width: 180px
                line-height: 55px
                text-decoration: none
                color: #ffffff
                justify-content: space-between
                align-items: center
                .icon-logos
                    font-size: 51px
                    margin: 0 15px 0 0
                    color: #ffffff
