
.icon-li:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-we-launched:before { content: '\e802'; } /* '' */
.icon-marketing:before { content: '\e803'; } /* '' */
.icon-customization:before { content: '\e804'; } /* '' */
.icon-development:before { content: '\e805'; } /* '' */
.icon-web-app-design:before { content: '\e806'; } /* '' */
.icon-satisfied-clients:before { content: '\e807'; } /* '' */
.icon-cups-of-coffee:before { content: '\e808'; } /* '' */
.icon-blog-posts:before { content: '\e809'; } /* '' */
.icon-likes:before { content: '\e80a'; } /* '' */
.icon-icon-cart:before { content: '\e80b'; } /* '' */
.icon-icon-play:before { content: '\e80c'; } /* '' */
.icon-icon-search:before { content: '\e80d'; } /* '' */
.icon-left:before { content: '\e80e'; } /* '' */
.icon-logos:before { content: '\e80f'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-left_b:before { content: '\e811'; } /* '' */
.icon-right_b:before { content: '\e812'; } /* '' */